/* Global Layout Set-up */
* {
  box-sizing: border-box;
}
/*//Base Layout Styles//*/
ul {
  list-style: none;
  margin-left: -40px;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #000;
  background-color: #ededed;
}
p {
  color: #2F4F4F;
}
.name {
  align-self: center;
  text-decoration: none;
  color: #000;
  margin-top: 3em;
  text-align: center;
  background-color: #ededed;
}
.rectangle {
  background: #A3A3A3;
  padding-top: 1em;
  padding-bottom: .9em;
  width: 70%;
  display: block;
  z-index: 2;
  margin: 2em auto;
  text-align: center;
}
.profile-image {
  max-width: 150px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  z-index: 5;
}
.intro {
  padding-top: .5em;
  padding-bottom: 3em;
  margin: 0 auto;
  color: #2F4F4F;
}

/* Link Styles */

a:hover {
  color: #480000;
}
a:visited {
  color: #000;
  background-color: #fff;
}
/*Layout Containers*/

.wrapper {
  max-width: 100%
  margin: 0 auto;
  padding: 0 5%;
  background-color: #ededed;
}
/* Portfolio Images */

h1 {
  padding-top: 1em;
}

.portfolio {
  background: #fff;
  padding-bottom: 1em;
}
.portfolio-image {
  max-width: 90%
}
/* Navigation */

.main-nav a {
  display: block;
  text-decoration: none;
  text-align: center;
  max-width: 100%;
  background: white;
  padding: .5em;
  margin-bottom: .3em;
  color: #000;
  background-color: #fff;
  font-size: 1.125em;
  font-weight: 300;
}
.main-nav li a:hover,
.main-nav li a:focus {
    color: #1c1c1c;
    background: #ccc;
}
/*Contact Styles*/

#contact {
  padding-top: 1em;
}
#contact a {
  text-decoration: none;
  color: #000;
}
.contact-info li {
  padding: .5em;
}
.contact-info li a:hover,
.contact-info li a:focus {
  color: #1c1c1c;
  background: #ccc;
}
.bold {
  font-weight: bolder;
}
/* Footer Styles */

hr {
  width: 92%;
}
#footer-left {
  float: left;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 3em;
}
#footer-right {
  float: right;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 3em;
}
/****************** Media Queries ********/

@media only screen and (min-width: 768px),
       only screen and (min-width: 700px) and (orientation: landscape) {
         .main-nav a {
           background: none;
         }


@media only screen and (min-width: 1024px) {

.name {
  float: left;
  margin: 16px 16px 16px 0px;
  padding: 0;
}
.main-nav {
  float: right;
}
.main-nav li {
  display: inline-block;
}
.intro {
  float: left;
  display: inline-block;
  width: 35%;
  margin: 0 auto;
  /*padding-top: 4em;
  padding-right: 2em;
  padding-left: 3em;*/
  text-align: left;
  font-size: 25px;
}
.rectangle {
  float: right;
  display: inline-block;
  width: 40%;
}
.profile-container {
  display: inline-block;
}
.portfolio {
  margin: 0 auto;
  width: 90%;
}
.first-row li,
.second-row li{
  max-width: 33%;
  float: left;
  padding: 2.5px;
  margin: 0 auto;
}
.first-row p,
.second-row p {
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: center;
}
.first-row ul {
  margin-top: 1em;
}
.second-row ul li {
  margin-top: 1em;
}

.portfolio h3 {
  text-align: center;
  padding-top: 3em;
}
#contact {
  margin: 0 auto;
  width: 30%;
  padding-bottom: 2em;
}
/*** Clear Fix ***/
.group::after {
  content: " ";
  display: table;
  clear: both;
}
